
$navbar-light-color: #FFFFFF;

.sc-card-title {
    text-transform: uppercase;
    color: #ff9e0d;
}

.sc-footer {
    background-color: #003662;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';