
$navbar-light-color: #FFFFFF;
// $link-color: #8ed1fc; //$primary !default;
// $link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
body, input, textarea, select {
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}

h1 {
    color: #003662;
}
.sc-card-title {
    text-transform: uppercase;
    color: #ff9e0d;
}

.sc-footer {
    background-color: #003662;
}

.carousel-item img{
    margin: auto;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';