@page "/contact"

<Heading Size=HeadingSize.Is1>Contact Us</Heading>
<Div Position=Position.Fixed.Top.Is50>
    <Field>
        <FieldLabel>Name</FieldLabel>
        <TextEdit Placeholder="Enter your name" />

        <FieldLabel>Email address</FieldLabel>
        <TextEdit Placeholder="Enter email" />

        <FieldLabel>Subject</FieldLabel>
        <TextEdit Placeholder="Enter subject" />
    </Field>
</Div>