@page "/"

<PageTitle>Lehigh Valley Sea Cadets</PageTitle>
<div class="container">
    <h1 style="text-align: center">Welcome to Lehigh Valley Sea Cadets!</h1>

    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/carousel/parade.jpg" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/helicopter.jpg" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/firefighting.jpg" class="d-block w-50" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/rifle_shoot.jpg" class="d-block w-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="text-center" style="margin-top: 1rem;">
    <div class="row">
        <div class="col-sm" style="background-color: #fe9e0d;">
            <h2 style="color: white; margin-top: 1rem;">Our Mission</h2>
            <div style="margin-bottom: 4rem; color: white;">
                <span>
                    The mission of the United States Naval Sea Cadet Corps is to build leaders of character by imbuing in our cadets the highest ideals of honor, respect, commitment, and service.
                </span>
            </div>
        </div>
        <div class="col-sm" style="background-color: #003662;">
            <h2 style="color: white; margin-top: 1rem;">Sea Cadets Information</h2>
            <div style="color: white; margin-bottom: 4rem;">
                <p>
                    USNSCC is a national youth leadership development organization that promotes interest and skill in naval disciplines while instilling strong moral character and life skills through leadership and technical programs modeled after the Navy's professional development system.
                </p>
                <p>
                    USNSCC is comprised of two programs. The Naval Sea Cadet Corps (NSCC) program is for young people ages 13 through the completion of high school. Also included under the USNSCC umbrella is our junior program the Navy League Cadet Corps (NLCC), for young people ages 10 through 13.”
                </p>
                <p>
                    Both the Naval Sea Cadets and the Navy League Cadet drill together on the same weekend.
                </p>
                <p>
                    Cadets must maintain a C average in school, not have been in trouble with the law, and be willing to learn.
                </p>
                <p>
                    A medical examination similar to a high school sports physical is required for all Cadet Applicants to the Naval Sea Cadet Corps (NSCC) or Navy League Cadet Corps (NLCC). No one will be denied admission to the NSCC/NLCC due to a medical disability. Where a medical condition precludes full, unlimited participation, a Request for Accommodation (NSCADM015) may be presented by the parent or guardian for review so the Cadet may participate in NSCC activities to the maximum extent possible. We can provide the medical examination at no cost.
                </p>
                <p>
                    Some of the things that we do during drill are classroom training as well as hands on training, field trips, community service, and participation with Veterans/Memorial Day Ceremonies. There are course work requirements that need to be met in order for the Cadet to advance in rank and attend Advance Trainings.
                </p>                
                <p>
                    There are various Advanced Trainings that the Cadets may attend during the summer months and winter school break that are held throughout the USA. But before attending Advance Training they first must complete Sea Cadet "Boot Camp" (must be 13 yrs 9 m or older, and enrolled by April)
                </p>
                <p>
                    For the League Cadets there is Navy League Orientation held at various locations in the USA during the summer months and winter school break.
                </p>
                <p>
                    75% minimum attendance at drill is required.
                </p>
                <p>
                    Attendance is very important as there is ongoing training.
                </p>
            </div>
        </div>
    </div>
</div>

