@page "/"

<PageTitle>Lehigh Valley Sea Cadets</PageTitle>
<div class="container">
    <h1 style="text-align: center">Welcome to Lehigh Valley Sea Cadets!</h1>

    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/carousel/parade.jpg" class="d-block w-75" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/helicopter.jpg" class="d-block w-75" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/firefighting.jpg" class="d-block w-75" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/carousel/honorguard.jpg" class="d-block w-75" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>

