@page "/"

<PageTitle>Lehigh Valley Sea Cadets</PageTitle>
<div class="container">
    <h1 style="text-align: center">Welcome to Lehigh Valley Sea Cadets!</h1>

    <Carousel Crossfade ShowIndicators = "false">
        <CarouselSlide Name="parade" Class="main-carousel">
            <Image Source="images/carousel/parade.jpg" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="helicopter">
            <Image Source="images/carousel/helicopter.jpg" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="firefighting">
            <Image Source="images/carousel/firefighting.jpg" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="rifle_shoot">
            <Image Source="images/carousel/rifle_shoot.jpg" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
    </Carousel>
</div>

<div class="text-center" style="margin-top: 1rem;">
    <div class="row">
        <div class="col-sm" style="background-color: #fe9e0d;">
            <h2 style="color: white; margin-top: 1rem;">Our Mission</h2>
            <div style="margin-bottom: 4rem; color: white;">
                <span>
                    The mission of the United States Naval Sea Cadet Corps is to build leaders of character by imbuing in our cadets the highest ideals of honor, respect, commitment, and service.
                </span>
            </div>
        </div>
        <div class="col-sm" style="background-color: #003662;">
            <h2 style="color: white; margin-top: 1rem;">Sea Cadets Information</h2>
            <div style="color: white; margin-bottom: 4rem;">
                <p>
                    USNSCC is a national youth leadership development organization that promotes interest and skill in naval disciplines while instilling strong moral character and life skills through leadership and technical programs modeled after the Navy's professional development system.
                </p>
                <p>
                    USNSCC is comprised of two programs. The Naval Sea Cadet Corps (NSCC) program is for young people ages 13 through the completion of high school. Also included under the USNSCC umbrella is our junior program the Navy League Cadet Corps (NLCC), for young people ages 10 through 13.”
                </p>
                <p>
                    Both the Naval Sea Cadets and the Navy League Cadet drill together on the same weekend.
                </p>
            </div>
        </div>
    </div>
</div>

