@page "/resources"
<PageTitle>Resources</PageTitle>
<Heading Size="HeadingSize.Is1">Resources</Heading>
<Card>
    <CardTitle style="font-weight: bold;">Location</CardTitle>
    <CardText>
        The Lehigh Valley Sea Cadets conduct drill at <Link To="https://maps.app.goo.gl/6u9nwgYPa3SYj7RW8"> 
            DeSales University, 2755 Station Avenue, Center Valley, PA 18034</Link>
    </CardText>
</Card>
<Card>
    <CardTitle style="font-weight: bold;">Requirements</CardTitle>
        <ul>
            <li>
                Cadets are required to maintain a 75% drill attendance.  Drill is conducted September through June.
                Each drill weekend consists of 4 drill periods for a total of 40 drills per year.
            </li>
            <li>
                Cadets are required to maintain a 'C' average grade in school to remain eligible for the Sea Cadets.
            </li>
            <li>
                A medical examination similar to a high school sports physical 
                is required for all Cadet Applicants to the Naval Sea Cadet Corps
                (NSCC) or Navy League Cadet Corps (NLCC). No one will be denied 
                admission to the NSCC/NLCC due to a medical disability. Where a medical 
                condition precludes full, unlimited participation, a Request for Accommodation 
                (NSCADM015) may be presented by the parent or guardian for review so the Cadet may 
                participate in NSCC activities to the maximum extent possible. 
            </li>
        </ul>
</Card>
