<Button Class="rounded"
        TextColor="TextColor.White"
        Type="ButtonType.Link"
        To="https://usnscc-lehigh-valley-division.square.site/"
        Target="Target.Blank"
        Style="text-align: center; text-transform: uppercase; background-color: #fe9e0d; font-weight: 500;">
        
        Donate
</Button>

@code {

}
