<div class="sc-footer fixed-bottom" style="margin-top: 2rem;">
    <div class="container px-4 " style="margin-top: 2rem;">
        <div class="row gx-4">
            <FooterCard Title="Contact us:">
                <FooterCardText Text="Lehigh Valley Sea Cadets"/>
                <FooterCardText Text="1400 Postal Road"/>
                <FooterCardText Text="Allentown, PA 18109"/>
                <a href="mailto:LVDiv042@hotmail.com" class="card-link">Email Us:</a>
            </FooterCard>
            
            <FooterCard Title="mission"
                        TextAlign="center">
                <FooterCardText Text="The mission of the United States Naval" />
                <FooterCardText Text="Sea Cadet Corps is to build leaders of" />
                <FooterCardText Text="character by imbuing in our cadets the" />
                <FooterCardText Text="highest ideals of honor, respect," />
                <FooterCardText Text="commitment, and service." />
            </FooterCard>
            
            <FooterCard Title="our sponsor"
                        ImgSrc="images\fra-logo.png"
                        ImgUrl="https://www.frabranch115lv.com/"
                        Alt="Fleet Reserve Association Branch 115"
                        TextAlign="right">
                <FooterCardText Text="Fleet Reserve Association" />
                <FooterCardText Text="Black Diamond Branch #115" />
                <a href="https://www.frabranch115lv.com/" class="card-link">Website</a>
                <a href="mailto:frabranch115@gmail.com" class="card-link">Contact</a>
            </FooterCard>
        </div>
    </div>
</div>

@code {

}
