<li class="nav-item sc-navitem">
    <a class="nav-link sc-navlink" href="@Url">
        @Caption
    </a>
</li>

@code {

    [Parameter]
    public string? Caption { get; set; }

    [Parameter]
    public string Url { get; set; } = "#top";
}
