@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />Ks
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1 role="alert" style="text-align: center">MAN OVERBOARD! MAN OVERBOARD!  </h1>
            <hr />
            <p style="text-align: center">It appears you have drifted off course.  Please muster back at the homepage!</p>
        </LayoutView>
    </NotFound>
</Router>
